/.mixin.out
/crash-reports
/emi.json
/fancymenu_data
/local
/logs
/modernfix
/patchouli_books
/patchouli_data.json
/PCL
/quests_structures
/saves
/schematics
/usercache.json
/usernamecache.json
/xaero
/XaeroWaypoints_BACKUP240807
/东方V0.1-natives
/rhino.local.properties
/V0.1-natives
